PREPARATION

In [2]:
"""
a) Click on JupyterHub File – New – Notebook in the upper left corner
of the page button to create a new Notebook Used to save the
content of this part of the exercise
"""

"""
b) Select Kernel for Python 3
"""

"""
c) As in the previous exercise, modify the notebook File name: p
andas.ipynb
"""

"""
d) Enter the import numpy and pandas statements in the first cell for
subsequent exercises, and give them new names np and pd
respectively.
"""
import numpy as np
import pandas as pd

# READING AND WRITING DATA BASED ON FILES

In [3]:
"""
a) Jupyter Hub in the upper left corner of the interface, click
the button and select the exams.csv file distributed to you to
upload.
b) After the upload is successful, you will see this new file appear in
the directory.
c) Back to Notebook after that, use read _csv function reads the file
just uploaded and assigns the result data to new d_3 object.
"""
d_3 = pd.read_csv('exams.csv')

In [4]:
"""
d) Use the info function to view the basic information of d_3 and
confirm the column information, row number information, data
type, etc.
e) You can check whether the number of lines and information read are the same as the original file by opening the file.
"""
d_3.info

<bound method DataFrame.info of      gender race/ethnicity parental level of education         lunch  \
0      male        group A                 high school      standard
1    female        group D            some high school  free/reduced
2      male        group E                some college  free/reduced
3      male        group B                 high school      standard
4      male        group E          associate's degree      standard
..      ...            ...                         ...           ...
995    male        group C                 high school      standard
996    male        group D          associate's degree  free/reduced
997  female        group C            some high school  free/reduced
998  female        group C                some college      standard
999    male        group A                some college      standard

    test preparation course  math score  reading score  writing score
0                 completed          67             67             63
1                      none          40             59             55
2                      none          59             60             50
3                      none          77             78             68
4                 completed          78             73             68
..                      ...         ...            ...            ...
995                    none          73             70             65
996               completed          85             91             92
997                    none          32             35             41
998                    none          73             74             82
999               completed          65             60             62

[1000 rows x 8 columns]>

In [74]:
"""
f) Using the same function to read CSV file, this time add the parameter nrows to set the number of rows to be read, 
such as 100 , assign it to the new variable d_4 and check whether the result is same as the specified number of rows:
"""
d_4 = pd.read_csv('exams.csv', nrows=100)
d_4.info

<bound method DataFrame.info of     gender race/ethnicity parental level of education         lunch  \
0     male        group A                 high school      standard
1   female        group D            some high school  free/reduced
2     male        group E                some college  free/reduced
3     male        group B                 high school      standard
4     male        group E          associate's degree      standard
..     ...            ...                         ...           ...
95  female        group C                 high school      standard
96  female        group E          associate's degree      standard
97    male        group B                 high school  free/reduced
98    male        group A                some college      standard
99    male        group B          associate's degree      standard

   test preparation course  math score  reading score  writing score
0                completed          67             67             63
1                     none          40             59             55
2                     none          59             60             50
3                     none          77             78             68
4                completed          78             73             68
..                     ...         ...            ...            ...
95               completed          58             63             67
96               completed          95            100            100
97                    none          45             52             49
98                    none          63             50             49
99                    none          60             54             53

[100 rows x 8 columns]>

In [6]:
"""
g) Based on d_4 , select three columns of data related to scores:
math score, reading score, writing score and assign them to the
new variable d_5
"""
d_5 = d_4[['math score', 'reading score', 'writing score']]
d_5

    math score  reading score  writing score
0           67             67             63
1           40             59             55
2           59             60             50
3           77             78             68
4           78             73             68
..         ...            ...            ...
95          58             63             67
96          95            100            100
97          45             52             49
98          63             50             49
99          60             54             53

[100 rows x 3 columns]

In [7]:
"""
h) Using to _csv function outputs d_5 to a new file,
exams_scoring.csv and replaces the data delimiter with #
"""
d_5.to_csv("exams_scoring.csv", sep='#')
%more exams_scoring.csv

#math score#reading score#writing score
0#67#67#63
1#40#59#55
2#59#60#50
3#77#78#68
4#78#73#68
5#63#77#76
6#62#59#63
7#93#88#84
8#63#56#65
9#47#42#45
10#99#83#85
11#80#87#90
12#77#87#85
13#74#74#73
14#81#87#85
15#69#61#57
16#58#47#42
17#54#62#65
18#23#44#44
19#39#32#31
20#83#76#88
21#58#52#55
22#71#69#73
23#44#55#54
24#46#38#32
25#51#45#42
26#53#60#56
27#71#68#60
28#74#89#89
29#33#54#51
30#87#79#77
31#78#74#73
32#40#41#39
33#65#65#71
34#79#88#89
35#68#74#74
36#57#77#75
37#67#65#54
38#58#68#73
39#98#81#77
40#54#75#72
41#77#67#64
42#87#79#82
43#58#70#70
44#100#88#87
45#60#46#51
46#64#63#57
47#65#76#78
48#68#72#73
49#60#63#57
50#65#68#64
51#52#58#60
52#74#81#85
53#36#53#49
54#57#57#47
55#56#60#62
56#67#80#84
57#88#87#83
58#42#61#51
59#68#51#48
60#76#66#68
61#58#63#59
62#69#67#62
63#77#82#78
64#83#93#97
65#49#74#70
66#71#60#56
67#47#46#49
68#79#64#60
69#60#64#57
70#56#68#73
71#57#52#47
72#49#70#63
73#79#76#81
74#71#76#67
75#71#77#70
76#47#63#59
77#72#91#81
78#78#73#76
79#54#43#45
80#46#59#62
81#31#38#42
82#51#59#59
83#78#76#73
84#32#41#39
85#53#71#69
86#63#76#69
87#97#93#88
88#56#52#61
89#72#76#72
90#57#47#42
91#74#71#70
92#81#81#87
93#94#87#93
94#81#73#72
95#58#63#67
96#95#100#100
97#45#52#49
98#63#50#49
99#60#54#53